**************************************************************
**************************************************************
*** ESTE EQUIPO NO ESTA REGISTRADO !
**************************************************************
*** Debe registrar este equipo para acceder a los repositorios
*** Use: subscription-manager register --auto-attach
**************************************************************
**************************************************************
**************************************************************
